.action-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #232222;
	background-image: url("../../../public/random-action.png");
	background-repeat: no-repeat;
	background-position: bottom 20px right -35px;
	&__title {
		font-weight: bold;
		font-size: 22px;
		color: white;
	}
	&__suggestion {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 22px;
		color: white;
	}
}
