.action-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #232222;
	background-image: url("/random-action.png");
	background-repeat: no-repeat;
	background-position: bottom 20px right -35px;
	&__suggestion {
		margin-bottom: 10px;
	}
}
