.card {
	display: flex;
	justify-content: space-between;
	&__image {
		width: 180px;
		aspect-ratio: 1;
		margin-right: 30px;
	}
	&__info {
		&__title {
			font-size: 22px;
			font-weight: 700;
      margin-bottom: 5px;
		}
    &__description {
      font-size: 14px;
    }
    &__links {
      &__link-red {
        margin-right: 30px;
      }
    }
	}
}
