.container {
	max-width: 1110px;
	margin: 0 auto;
}
.default-button {
	width: 101px;
	height: 38px;
	clip-path: polygon(
		10px 0%,
		100% 0,
		100% calc(100% - 10px),
		calc(100% - 10px) 100%,
		0 100%,
		0% 10px
	);
}
