.header {
	position: fixed;
	width: 100%;
	top: 50px;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
	&__title {
		font-size: 28px;
		font-weight: bold;
		.text-red {
			color: #9f0013;
		}
	}
	&__status {
		font-size: 24px;
		font-weight: bold;
		.option__active {
			color: #9f0013;
		}
	}
}
