.info {
	width: 425px;
	padding: 20px;
	&__top {
		display: flex;
    margin-bottom: 15px;
		&__flex {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__image {
		width: 150px;
		aspect-ratio: 1;
		margin-right: 20px;
	}
	&__title {
		font-size: 22px;
		font-weight: 900;
	}
	&__links {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__description {
		font-size: 14px;
		line-height: 18px;
    margin-bottom: 30px;
	}
  &__comics {
    &__title {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 10px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
