.info {
	width: 425px;
	padding: 20px;
	background-color: white;
	&__not-selected {
		&__title {
			text-align: center;
			padding-bottom: 20px;
		}
	}
	&__top {
		display: flex;
    margin-bottom: 15px;
		&__flex {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__image {
		width: 150px;
		aspect-ratio: 1;
		margin-right: 20px;
	}
	&__links {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__description {
    margin-bottom: 30px;
	}
  &__comics {
    &__title {
      margin-bottom: 10px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
