@import "../../../shared/variables/variables.scss";

.character {
	cursor: pointer;
	transition: 0.3s;
	display: block;
	height: 318px;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 5px 5px 20px $main-red;
	}
	&__name {
		margin: 0 0 0 10px;
	}
}
