.default-button {
	font-weight: normal;
	font-family: inherit;
	display: block;
	height: 36px;
	border: none;
	clip-path: polygon(
		10px 0%,
		100% 0,
		100% calc(100% - 10px),
		calc(100% - 10px) 100%,
		0 100%,
		0% 10px
	);
	transition: 0.2s;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}
