.info-card {
	display: flex;
	// justify-content: space-between;
	&__image {
		margin-right: 30px;
		min-width: 200px;
		width: auto;
		max-height: 200px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__links {
			display: flex;
			gap: 20px;
		}
	}
}
