.info-card {
	display: flex;
	justify-content: space-between;
	&__image {
		width: 200px;
		aspect-ratio: 1;
		margin-right: 30px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__links {
			display: flex;
			gap: 20px
		}
	}
}
